<%- include('header-user', {title: `Baby Care`}); -%>

<div class="container">
  <div class="row" style="padding-top: 70px; padding-bottom: 30px">
    <div class="col d-flex justify-content-end">
      <button type="button" class="btn btn-default btn-circle btn-xl">
        <i class="fas fa-poo"></i>
      </button>
    </div>
    <div class="col d-flex justify-content-start">
      <button type="button" class="btn btn-default btn-circle btn-xl">
        <img
          style="width: 60%"
          src="https://cdn-icons-png.flaticon.com/512/3260/3260055.png"
        />
      </button>
    </div>
  </div>
  <div class="row" style="padding-bottom: 60px">
    <div class="col d-flex justify-content-end">
      <button type="button" class="btn btn-default btn-circle btn-xl">
        <img
          style="width: 60%"
          src="https://cdn-icons.flaticon.com/png/512/3060/premium/3060809.png?token=exp=1640186073~hmac=52a36bfaeb23b0085d470d03b790df0e"
        />
      </button>
    </div>
    <div class="col d-flex justify-content-start">
      <button type="button" class="btn btn-default btn-circle btn-xl">
        <img
          style="width: 60%"
          src="https://cdn-icons-png.flaticon.com/512/865/865813.png"
        />
      </button>
    </div>
  </div>
</div>

</div>

  <%- include('footer'); -%>
</div>