<%- include('header-user', {title: `Baby Care`}); -%>

<div class="container">
  <div class="row" style="padding-top: 70px; padding-bottom: 30px">
    <div class="col d-flex justify-content-end">
      <button type="button" class="btn btn-default btn-circle btn-xl">
        <i class="fas fa-poo"></i>
      </button>
    </div>
    <div class="col d-flex justify-content-start">
      <button type="button" class="btn btn-default btn-circle btn-xl">
        <img
          style="width: 60%"
          src="https://cdn-icons-png.flaticon.com/512/3260/3260055.png"
        />
      </button>
    </div>
  </div>
  <div class="row" style="padding-bottom: 40px">
    <div class="col d-flex justify-content-end">
      <button type="button" class="btn btn-default btn-circle btn-xl">
        <img
          style="width: 60%"
          src="https://cdn-icons-png.flaticon.com/512/4292/4292086.png"
        />
      </button>
    </div>
    <div class="col d-flex justify-content-start">
      <button type="button" class="btn btn-default btn-circle btn-xl">
        <img
          style="width: 60%"
          src="https://cdn-icons-png.flaticon.com/512/865/865813.png"
        />
      </button>
    </div>
  </div>
</div>

<!-- profile photo -->
<div class="container">
  <div class="row justify-content-center">
    <a
      class="
        profile-photo
        btn-circle btn-xl
        d-flex
        align-items-center
        justify-content-center
      "
      style="
        position: relative;
        border-color: #1eaaf1;
        border-style: double;
        width: 130px;
        height: 130px;
      "
      href="..."
      role="button"
    >
      <img
        style="width: 80%"
        src="https://cdn-icons-png.flaticon.com/512/3282/3282468.png"
      />
    </a>
  </div>
  <!-- profile name -->
  <div class="row justify-content-center">
    <div class="profile-name">Nayla Sofea</div>
  </div>
</div>

<div><%- include('footer'); -%></div>
