<%- include('header', {title: `Baby Care`}); -%>

<div class="container">
  <div class="row" style="padding: 80px 0">
    <div class="col d-flex justify-content-end">
      <button type="button" class="btn btn-default btn-circle btn-xl">
        <i class="fas fa-poo"></i>
      </button>
    </div>
    <div class="col d-flex justify-content-start">
      <button type="button" class="btn btn-default btn-circle btn-xl">
        <img
          style="width: 60%"
          src="https://cdn-icons.flaticon.com/png/512/2336/premium/2336358.png"
        />
      </button>
    </div>
  </div>
  <div class="row" style="padding-bottom: 60px">
    <div class="col d-flex justify-content-end">
      <button type="button" class="btn btn-default btn-circle btn-xl">
        <img
          style="width: 60%"
          src="https://cdn-icons.flaticon.com/png/512/3060/premium/3060809.png?token=exp=1640151952~hmac=ca2aaea2b90361887b50f6c9822a3d6c"
        />
      </button>
    </div>
    <div class="col d-flex justify-content-start">
      <button type="button" class="btn btn-default btn-circle btn-xl">
        <img
          style="width: 60%"
          src="https://cdn-icons-png.flaticon.com/512/865/865813.png"
        />
      </button>
    </div>
  </div>
</div>
