<!-- Modal for soiled nappy event-->
<div
  class="modal fade"
  id="soiledNappyModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="soiledNappyModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Soiled Nappy</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- modal content -->
        <form name="soiledDiaperForm" action="<%= url %>/soiled" method="POST">
          <div class="form-group">
            <label for="inputSoiledDate">Date</label>
            <input
              type="datetime-local"
              class="form-control"
              id="inputSoiledDate"
              name="inputSoiledDate"
              placeholder="Enter date and time of soiled nappy"
            />
            <br />
            <label for="inputSoiledColour">Stool Colour</label>
            <select
              class="custom-select"
              id="inputSoiledColour"
              name="inputSoiledColour"
            >
              <option selected>Select</option>
              <option value="1">Black</option>
              <option value="2">Brown/ Orange</option>
              <option value="3">Green</option>
              <option value="4">Red</option>
              <option value="5">White</option>
              <option value="6">Yellow</option>
            </select>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal for wet nappy event-->
<div
  class="modal fade"
  id="wetNappyModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="wetNappyModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Wet Nappy</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- modal content -->
        <form name="wetDiaperForm" action="<%= url %>/wet" method="POST">
          <div class="form-group">
            <label for="inputWetDate">Date</label>
            <input
              type="datetime-local"
              class="form-control"
              id="inputWetDate"
              name="inputWetDate"
              placeholder="Enter date and time of wet nappy"
            />
            <br />
            <label for="inputWetWeight">Weight</label>
            <select
              class="custom-select"
              id="inputWetWeight"
              name="inputWetWeight"
            >
              <option selected>Select</option>
              <option value="1">Light</option>
              <option value="2">Moderate</option>
              <option value="3">Heavy</option>
            </select>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal for milk event-->
<div
  class="modal fade"
  id="milkModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="milkModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Milk Feed</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- modal content -->
        <form name="milkForm" action="<%= url %>/milk" method="POST">
          <div class="form-group">
            <label for="inputMilkDate">Date</label>
            <input
              type="datetime-local"
              class="form-control"
              id="inputMilkDate"
              name="inputMilkDate"
              placeholder="Enter feeding date and time"
            />
            <br />
            <label for="inputMilkQty">Quantity (ml)</label>
            <input
              type="number"
              class="form-control"
              id="inputMilkQty"
              name="inputMilkQty"
              placeholder="Enter quantity of milk fed"
            />
            <br />
            <label for="inputMilkReminder">Next reminder in:</label>
            <select
              class="custom-select"
              id="inputMilkReminder"
              name="inputMilkReminder"
            >
              <option selected>Select</option>
              <option value="1">30 minutes</option>
              <option value="2">1 hour</option>
              <option value="3">2 hours</option>
            </select>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal for sleep event-->
<div
  class="modal fade"
  id="sleepModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="sleepModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sleep</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- modal content -->
        <form name="sleepForm" action="<%= url %>/sleep" method="POST">
          <div class="form-group">
            <label for="inputSleepStartDate">Start Date</label>
            <input
              type="datetime-local"
              class="form-control"
              id="inputSleepStartDate"
              name="inputSleepStartDate"
              placeholder="Enter sleep start date and time"
            />
            <br />
            <label for="inputSleepEndDate">End Date</label>
            <input
              type="datetime-local"
              class="form-control"
              id="inputSleepEndDate"
              name="inputSleepEndDate"
              placeholder="Enter sleep end date and time"
            />
            <br />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal for editing soiled nappy event-->
<div
  class="modal fade"
  id="editModal1"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editModal1"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Soiled Nappy</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- modal content -->
        <form
          name="editSoiledDiaperForm"
          action="/dashboard/5/1/soiled"
          method="POST"
        >
          <div class="form-group">
            <label for="inputSoiledDate">Date</label>
            <input
              type="datetime-local"
              class="form-control editSoiledDate"
              id="editSoiledDate"
              name="editSoiledDate"
              placeholder="Enter date and time of soiled nappy"
            />
            <br />
            <label for="inputSoiledColour">Stool Colour</label>
            <select
              class="custom-select"
              id="editSoiledColour"
              name="editSoiledColour"
            >
              <option selected>Select</option>
              <option value="1">Black</option>
              <option value="2">Brown/ Orange</option>
              <option value="3">Green</option>
              <option value="4">Red</option>
              <option value="5">White</option>
              <option value="6">Yellow</option>
            </select>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
