<%- include('header', {title: `Baby Care`}); -%>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img style="transform: scaleX(-1);" class="d-block w-100" src="https://zero-to-three.s3.amazonaws.com/images/1673/9e8fb52f-07c5-4d15-a114-1bd094262be0-landscape_medium.jpg?1498058168" alt="First slide">
      <div class="carousel-button-wrapper">
        <h1 class="carousel-h1">Care</h1>
        <a class="carousel-button btn btn-primary mr-2 btn-sm" href="/signup" role="button">Try Free</a>
      </div>
    </div>
    
    <div class="carousel-item">
      <img class="d-block w-100" src="https://images.indianexpress.com/2019/11/baby-milk.jpg" alt="Second slide">
      <div class="carousel-button-wrapper">
        <h1 class="carousel-h1">Track</h1>
        <a class="carousel-button btn btn-primary mr-2 btn-sm" href="/signup" role="button">Try Free</a>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://www.verywellfamily.com/thmb/aTOuUTA20eSV3SWoR_g14iUL_D4=/2122x1194/smart/filters:no_upscale()/107253576-56a05d9b3df78cafdaa14683.jpg" alt="Third slide">
      <div class="carousel-button-wrapper">
        <h1 class="carousel-h1">Remind</h1>
        <a class="carousel-button btn btn-primary mr-2 btn-sm" href="/signup" role="button">Try Free</a>
      </div>
    </div>
  </div>
</div>

<div>test</div>



<%- include('footer'); -%>
</div>