<%- include('header', {title: `Baby Care`}); -%>
<body style="background-color: white"></body>
<br />
<div class="container">
  <div style="padding: 5% 0">
    <h2 style="text-align: center;">Create your account</h2>
  </div>

  <form name="signupForm" action="/login" method="POST">
    <div class="row">
      <div class="col">
        <label for="inputFirstName"></label>
        <input id="inputFirstName" type="text" name="inputFirstName" class="form-control" placeholder="First name" required/>
      </div>
      <div class="col">
        <label for="inputLastName"></label>
        <input id="inputLastName" type="text" name="inputLastName" class="form-control" placeholder="Last name" required/>
      </div>
    </div>
    <div>
      <label for="inputEmail"></label>
      <input
        name="inputEmail"
        type="email"
        class="form-control"
        id="inputEmail"
        aria-describedby="emailHelp"
        placeholder="Email address"
        required
      />
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.
      </small>
    </div>
    <div>
      <label for="inputPassword"></label>
      <input
          type="password"
          class="form-control"
          id="inputPassword"
          name="inputPassword"
          placeholder="Password"
          required
      />
      <small id="passwordHelp" class="form-text text-muted">Your password must be between 8-20 characters long.
      </small>
      <br>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1"
        >I agree to the <a href="...">Terms and Conditions</a></label
      >
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Register</button>
    <a class="btn btn-outline-secondary" href="/" role="button">Cancel</a>
  </form>
</div>

</div>

  <%- include('footer'); -%>
</div>