body {
  background-color: #d1e3d9;
  padding-top: 8%;
  padding-bottom: 16%;
}

@media only screen and (max-width: 600px) {
  body {
    padding-top: 11%;
  }
}

/* .carousel-button-wrapper {
  bottom: 30%;
  left: 8%;
  z-index: 999; 
  pointer-events: auto;
} */

.carousel-inner {
  z-index: 10;
  width: 100%; /*this must stay */
  height: 100%; /*this must stay */
}

.carousel-h1 {
  position: absolute;
  bottom: 38%;
  left: 8%;
  color: white;
  z-index: 10;
  text-align: center;
}

.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
}

.carousel-btn-custom {
  position: absolute;
  z-index: 999;
  bottom: 26%;
  left: 8%;
}

.navbar-custom {
  background-color: #282828;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: white;
}

div.center-cropped {
  width: 100px;
  height: 100px;
  overflow: hidden;
}
div.center-cropped img {
  width: 100%;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.card-img-top {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}

.tiny {
  font-size: 0.75rem;
  color: white;
  text-align: center;
}

.card-body-custom {
  padding: 3.25rem;
}

.home-headers {
  text-align: center;
  margin-top: 20px;
}

.btn-circle.btn-xl {
  width: 140px;
  height: 140px;
  padding: 10px 16px;
  font-size: 52px;
  line-height: 1.33;
  border-radius: 80px;
  border-style: groove;
  border-color: black;
}

.btn-custom-account {
  font-size: 190%;
  padding-right: 0.75rem;
  color: white;
}
