body {
  background-color: #ffe7ee;
  padding-top: 14%;
  padding-bottom: 16%;
}

.carousel-button-wrapper {
  position: absolute;
  top: 160px;
  right: 350px;
  z-index: 999; /*not working */
  pointer-events: auto;
}

.carousel-inner {
  pointer-events: none;
  z-index: 10;
  width: 100%; /*this must stay */
  height: 100%; /*this must stay */
}

.carousel-h1 {
  position: absolute;
  bottom: 88%;
  color: white;
  z-index: 10;
  text-align: center;
}

.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}

.navbar-custom {
  background-color: #282828;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: white;
}

div.center-cropped {
  width: 100px;
  height: 100px;
  overflow: hidden;
}
div.center-cropped img {
  width: 100%;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.card-img-top {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}

.tiny {
  font-size: 0.75rem;
  color: white;
  text-align: center;
}

.card-body-custom {
  padding: 3.25rem;
}
